Repository Enigmatisms/cuda-pt: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: python ./scripts/codestyle/clang_format.py
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: python ./scripts/codestyle/cpplint_pre_commit.py
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp
  ...

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./scripts/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

[Code Style] Updated pre-commit hook configs
  .clang-format
  .pre-commit-config.yaml
  .typos.toml
Due: none

[Code Style] Modified clang-tidy hook
  scripts/codestyle/clang-tidy.py
Due: copyright_checker

Create linux-build-on-pr.yml
  .github/workflows/linux-build-on-pr.yml
Due: none

[Misc] Insignificant changes.
  .vscode/c_cpp_properties.json
  README.md
Due: none

Update stale marker actions: 7-day cycle
  .github/workflows/stale.yml
Due: none

[WIP][SBVH] Spatial BVH acceleration on going.
  src/core/aabb.cuh
  src/core/bvh.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Isolated spatial splitter and clarified the next steps.
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
  src/impl/spatial_splitter.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Rewritting BVH construction for spatial split. (not valid for build currently)
  src/core/bvh.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
  src/impl/spatial_splitter.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Spatial BVH being rewritten.
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
  src/impl/spatial_splitter.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Recursive linearize should be rewritten.
  .github/workflows/linux-build-on-pr.yml
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Prims/Norms/UV/Object remapping.
  src/core/bvh.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Structures are done. Prepare for testing. SBVH optimization (overlapping) is not implemented yet.
  src/core/bvh.cuh
  src/core/bvh_spatial.cuh
  src/core/scene.cuh
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Code compilation checks.
  src/core/bvh_spatial.cuh
  src/core/max_depth.h
  src/core/virtual_funcs.cuh
  src/impl/bvh_spatial.cu
  src/impl/spatial_splitter.cu
  src/viewer_impl/imgui_utils.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Code logic check completed.
  src/core/bvh.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
  src/impl/spatial_splitter.cu
  src/renderer/tracing_func.cuh
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Can run but baseline non-spatial-split is slower.
  src/core/config.h
  src/impl/bvh_spatial.cu
  src/impl/config.cpp
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Spatial split bug found.
  src/core/bvh_spatial.cuh
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Better and correct triangle chopped binning
  src/core/aabb.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Spatial split still poses bugs after fixing the stack overflow problem.
  CMakeLists.txt
  scene/xml/cornell-box.xml
  scene/xml/kitchen.xml
  scene/xml/vader.xml
  src/core/aabb.cuh
  src/core/bvh_opt.cuh
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Code checking (without pre-commit)
  src/impl/bvh.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Minor comment changes.
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Spatial split can run but seems slower. Memory overhead introduced is huge. Try optimizing
  scene/xml/vader.xml
  src/core/bvh.cuh
  src/core/bvh_opt.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Memory overhead problem solved. Speed is still slow. Node caching reveals strange behavior for kitchen scene (13, 8)
  scene/xml/kitchen.xml
  scene/xml/vader.xml
  src/core/aabb.cuh
  src/core/bvh.cuh
  src/impl/bvh_spatial.cu
  src/impl/config.cpp
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Found SBVH SAH cost calculation bug. Fixed max axis searching.
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Minor changes.
  app/pt_renderer.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Update SBVH node constraints.
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Fixed spatial binning calculation. Fixed SBVH node caching.
  scene/xml/vader.xml
  src/core/aabb.cuh
  src/core/bvh_opt.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
  src/pt_impl/bvh_cost.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Speed improved greatly. Chopped binning has buggy logic (corner cases are so annoying)
  scene/xml/kitchen.xml
  scene/xml/vader.xml
  src/core/aabb.cuh
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Fixed spatial binning.
  src/core/aabb.cuh
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Sutherland-Hodgman polygon clipping for the win.
  src/core/aabb.cuh
  src/core/proc_geometry.cuh
  src/impl/bvh_spatial.cu
  src/impl/proc_geometry.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Fixed node missing problem.
  scene/xml/cornell-box.xml
  scene/xml/malorian.xml
  scene/xml/rich-cars.xml
  src/core/aabb.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
  src/impl/proc_geometry.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Update BVH cost visualizer (warp reduce + cost map selection via imgui). SBVH still has higher traverse and overall cost.
  src/pt_impl/bvh_cost.cu
  src/renderer/bvh_cost.cuh
  src/viewer_impl/imgui_utils.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Update SBVH configs. High num of bins can have better perf but 256 will result in core dump
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Add BVH tree statistic print. Add new mode 'accel-only' for BVH inspection. Problem: overlap and intersection factor increase.
  app/pt_renderer.cu
  app/viewer.cu
  src/core/bvh_opt.cuh
  src/core/enums.cuh
  src/impl/bvh.cu
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Spatial split overlapping bug fixed.
  src/core/aabb.cuh
  src/core/bvh_spatial.cuh
  src/core/constants.cuh
  src/core/vec2.cuh
  src/core/vec2_half.cuh
  src/core/vec3.cuh
  src/core/vec4.cuh
  src/impl/bvh.cu
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
  src/impl/proc_geometry.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Performance partially tested. Good, prepare for final optimization (build speed and reference unsplitting)
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Spatial split overlapping bug fixed.
  scene/xml/kitchen.xml
  src/core/aabb.cuh
  src/core/bvh_spatial.cuh
  src/core/config.h
  src/impl/bvh_spatial.cu
  src/impl/config.cpp
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Fixed a minor bug
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP][SBVH] Reference unsplitting tested. SAH-cost outcome slightly improved.
  scene/xml/rich-cars.xml
  src/core/bvh.cuh
  src/core/bvh_spatial.cuh
  src/impl/bvh_opt.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|cuh|h|hpp|py|pyi|sh)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|cuh|h|hpp)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|cuh|h|hpp)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

  clang-tidy: any of: \.(c|cc|cxx|cuh|cpp|h|hpp)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

