Repository Enigmatisms/cuda-pt: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: python ./scripts/codestyle/clang_format.py
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: python ./scripts/codestyle/cpplint_pre_commit.py
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp
  ...

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./scripts/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

[WIP][SBVH] Thread pool parallel acceleration for SBVH chopped binning.
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
  src/utils/thread_pool.hpp
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Final touches: a simple attemp for parallel acceleration.
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
  src/utils/thread_pool.hpp
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[WIP][SBVH] Final touches: removed thread pool since it is useless now
  src/utils/thread_pool.hpp
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[FIX] git submodule url. Disabling SBVH for sphere. CMake openmp for debug build.
  .gitmodules
  CMakeLists.txt
  app/viewer.cu
  src/impl/bvh_spatial.cu
  src/impl/scene.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[WIP] Depth of field
  src/core/camera_model.cuh
  src/core/sampling.cuh
  src/impl/camera_model.cu
  src/pt_impl/wavefront_pt.cu
  src/viewer_impl/imgui_utils.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Feat] Camera model with DoF
  src/core/camera_model.cuh
  src/impl/bvh_spatial.cu
  src/impl/camera_model.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Feat & Fix] Fixed aperture lens sampling bug.
  scene/xml/bunny.xml
  scene/xml/cornell-box.xml
  scene/xml/vader.xml
  src/core/sampling.cuh
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Fix] Fixed unknown core dump problem (@AdamYuan)
  src/viewer_impl/imgui_utils.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

Build SBVH acceleration structure in parallel
  .gitmodules
  CMakeLists.txt
  src/core/bvh_spatial.cuh
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Replace cameron314/concurrentqueue with max0x7ba/atomic_queue for faster parallel SBVH building Use invoke_result_t instead of result_of_t Link Threads::Threads
  .gitmodules
  CMakeLists.txt
  src/impl/bvh_spatial.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

[Chore] Updated windows SDK version for vscode
  .vscode/c_cpp_properties.json
Due: none

[Major] Add persistent scheduler for kernel management
  .typos.toml
  .vscode/settings.json
  CMakeLists.txt
  app/pt_renderer.cu
  app/viewer.cu
  src/core/constants.cuh
  src/core/enums.cuh
  src/impl/scene.cu
  src/pt_impl/light_tracer.cu
  src/pt_impl/megakernel_pt.cu
  src/pt_impl/path_tracer.cu
  src/pyrender/python_render.cu
  src/renderer/light_tracer.cuh
  src/renderer/megakernel_pt.cuh
  src/renderer/path_tracer.cuh
  src/renderer/scheduler.cuh
  src/renderer/volume_pt.cuh
  src/renderer/wf_path_tracer.cuh
  src/viewer_impl/imgui_utils.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Chore] Updated some misc code
  src/core/textures.cuh
  src/impl/textures.cu
  src/pt_impl/depth.cu
  src/pt_impl/path_tracer.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Replace Malorian-Arms teaser image
  assets/Malorian-Arms-3516.jpg
Due: none

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|cuh|h|hpp|py|pyi|sh)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|cuh|h|hpp)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|cuh|h|hpp)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

  clang-tidy: any of: \.(c|cc|cxx|cuh|cpp|h|hpp)$, but not: (?x)^(
  assets/.+|
  scene/.+|
  .vs/.+|
  .vscode/.+|
  src/ext/.+
)$

